// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$purple-1: rgba(119, 67, 219, 1);
$purple-2: rgba(195, 172, 208, 1);
$purple3: rgba(70, 31, 146, 0.85);
$purple4: rgba(47, 20, 101, 0.85);
$black_purple: rgba(72, 61, 92, 0.85);

$input-field: rgb(235, 211, 250);
$background_black: #131117;
$cardbackground: #4f4f4f40;
$cardbackground2: #1f1d1d;


$white_5: rgba(249, 245, 255, 1);

$content_text_blue: #d9e5ff;
$boring_blue: rgba(102, 112, 133, 1)
