#show-page {
  display: flex;
  background-color: $background_black;
  margin: 30px;
  padding: 50px;
  color: $purple-2;
}

.info-furry {
  flex-wrap: nowrap;
}

.furry-description{
  flex-grow: 1;
}

.furry-description p {
  color: $content_text_blue;
}

.furry-description h5, h2 {
  font-weight:bolder;
  font-size: 32px;
  text-shadow: 2px 2px 1px $purple3;
}

.info-furry img {
  border-radius: 10px;
  margin-top: 30px;
  box-shadow: $purple3 3px 3px 6px 0px inset;
}

.furry-description h1, h3{
  text-shadow: 3px 3px 2px $purple3;
}

.book-btn {
  padding: 10px 20px;
  font-size: 20px;
}

.book-card {
  background-color: $cardbackground;
  width: 560px;
  padding:30px;
  align-items: center;
  border-radius: 10px;
  box-shadow: $purple3 3px 3px 6px 0px inset, $purple3 -3px -3px 6px 1px inset;
}

.show-fursona {
  background-color: $purple-1;
  border-radius: 30%;
  padding-bottom: 0px;
}
