#show-page {
  display: flex;
  background-color: $background_black;
  margin: 30px;
  padding: 50px;
  color: $purple-2;
}

.info-furry {
  flex-wrap: nowrap;
}

.furry-description{
  flex-grow: 1;
}

.furry-description h3, p {
  color: white;
}

.furry-description h3 {
  opacity: 0.75;
  text-shadow: 1px 1px 2px white;
}

.furry-description h5 {
  font-weight:bolder;
  color: $purple-1;
  font-size: 32px;
}

.info-furry img {
  border-radius: 10px;
}
