#show-page {
  display: flex;
  background-color: $background_black;
  margin: 30px;
  padding: 50px;
  color: $purple-2;
}

.info-furrie {
  flex-wrap: nowrap;

}

.furrie-description{
  flex-grow: 1;
}

.furrie-description h3, p {
  color: white;
}

.furrie-description h5 {
  font-weight:bolder;
  color: $purple-1;
  font-size: 32px;
}
