<% if booking.status == "rejected" %>
<div class= "status-red">Booking Declined</div>
<% elsif booking.status == "accepted" %>
<div class= "status-green">Booking Confirmed</div>
<% else %>
<div class= "status-purple">Pending Booking Confirmation</div>
<% end %>
