<% if booking.status = "rejected" %>
<div class= "btn btn-red">Booking Declined</div>
<% elsif booking.status == "confirmed" %>
<div class= "btn btn-red">Booking Confirmed</div>
<% else %>
<div class= "btn btn-red">Pending Booking Confirmation</div>
<% end %>
