<div class="content" >
      <div class="row">
            <% my_furries_bookings.each do |booking| %>
                <div class="furries-card hvr-grow myDIV">
                  <div class="image">
                    <%= cl_image_tag booking.furry.photo.key, height: 350, width: 350, crop: :fill %>
                  </div>
                  <div class="content">

                    <div class="heading-and-text">
                      <div class="heading-and-icon">
                        <div class="heading"><%= booking.furry.name %></div>
                        <div class="icon-wrap">
                        </div>
                      </div>
                      <div class="content-text hide">
                        <%= render "update_booking", booking: booking %>
                      </div>
                    </div>
                    <%= link_to '', furry_path(booking.furry), class: 'card-link' %>
                  </div>
                </div>
            <% end %>
      </div>
    </div>
    <br>
