<h1>Create a new booking</h1>
<%= simple_form_for [furrie, booking] do |f| %>
  <%= f.input :range, as: :string, input_html: { data: { controller: "datepicker", datepicker_min_date_value: Date.today.to_s } } %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
