.notification {
  display: flex;
  align-items: center;
  margin: 2px 50px 8px 50px;
  background: $cardbackground;
  padding: 8px 16px;
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  color: #999999;
  font-weight: bold;
}
.notification .notification-actions {
  opacity: 1;
  display: flex;
  width: 300px;
  flex-direction: column;
  font-size: 1em;

}

.notification .delete {
  display: none;
  margin: 5px 1px 0px 1px;
}
.notification:hover .delete {
  display: block;
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



.notification .notification-actions a:hover {
  color: white;
}

.status-red {
  background-color: red;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 7px;
}
.status-green {
  background-color: green;
  color: white;
  border-radius: 10px;
  margin: auto;
  padding: 7px;
  text-align: center;
}
.status-purple {
  background-color: $purple3;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 7px;

}
