.btn {
  background-color: $purple3;
  color: white;
  border-radius: 10px;

  &:hover {
    background-color: $purple-1;
    color: white
  }
}

.btn-red {
  background-color: red;
  border-radius: 10px;
}

.add-furry {
  position: fixed;
}
