
.furries-card {
  display: flex;
  flex-direction: column;
  width: 384px;
  align-items: flex-start;
  position: relative;
}

.furries-card .image {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 240px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/18/Dog_Breeds.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.furries-card .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
  padding: 14px 16px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: $cardbackground;
}

.furries-card .categories {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.furries-card .badge {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.furries-card .badge-base {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2px 10px;
  position: relative;
  flex: 0 0 auto;
  background-color: $purple-2;
  border-radius: 16px;
  opacity: 0.8;
}


.furries-card .text {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--text-sm-medium-font-family);
  font-weight: var(--text-sm-medium-font-weight);
  color: $purple-1;
  font-size: var(--text-sm-medium-font-size);
  text-align: center;
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
  white-space: nowrap;
  font-style: var(--text-sm-medium-font-style);
}

.furries-card .heading-and-text {
  flex-direction: column;
  gap: 12px;
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.furries-card .heading-and-icon {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.furries-card .heading {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: var(--display-xs-semibold-font-family);
  font-weight: var(--display-xs-semibold-font-weight);
  color: $purple-2;
  font-size: var(--display-xs-semibold-font-size);
  letter-spacing: var(--display-xs-semibold-letter-spacing);
  line-height: var(--display-xs-semibold-line-height);
  font-style: var(--display-xs-semibold-font-style);
}

.furries-card .icon-wrap {
  position: relative;
  flex: 0 0 auto;
  color: $purple-1
}

.furries-card .content-text {
  position: relative;
  align-self: stretch;
  font-family: var(--content-font-family);
  font-weight: var(--content-font-weight);
  color: $content_text_blue;
  font-size: var(--content-font-size);
  letter-spacing: var(--content-letter-spacing);
  line-height: var(--content-line-height);
  font-style: var(--content-font-style);
}

.furries-card .price {
  position: relative;
  align-self: stretch;
  font-family: var(--text-sm-semibold-font-family);
  font-weight: var(--text-sm-semibold-font-weight);
  color: $purple-1;
  font-size: var(--text-sm-semibold-font-size);
  text-align: right;
  letter-spacing: var(--text-sm-semibold-letter-spacing);
  line-height: var(--text-sm-semibold-line-height);
  font-style: var(--text-sm-semibold-font-style);
}
