.form-inputs {
  color: $content_text_blue;
}

.login-btn {
  background-color: $purple3;
  color: white;
  border-radius: 10px;
  border: none;
  box-shadow: none;
  margin:8px 0px;
  padding: 8px;

  &:hover {
    background-color: $purple-1;
    color: white
  }
}

.new-furry-page {
  color: white;
  margin-top: 100px;
}
