.navbar-lewagon {
  justify-content: space-between;
  background: $background_black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .nav-link {
  color: $purple-1;
}
