.navbar-lewagon {
  justify-content: space-between;
  background: $purple4;
  overflow: hidden;
  z-index: 9999;
}

.container-fluid {
  justify-content: space-around !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .nav-link {
  color: $purple-1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.form-control {
  width: 500px;
  border-radius: 10px;
  background-color: $input-field;
}

.navbar-lewagon .nav-link {
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  color:white
}

.fa-paw {
  font-size: 50px;
  padding-top: 15px;
  color:$purple-2;
}
