.navbar-lewagon {
  justify-content: space-between;
  background: $purple4;
  z-index: 9999;
}

.container-fluid {
  justify-content: space-around !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .nav-link {
  color: $purple-1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.form-control {
  width: 500px;
  border-radius: 10px;
  background-color: $input-field;
}

.navbar-lewagon .nav-link {
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  color:white
}

.fa-paw {
  font-size: 48px;
  padding-top: 15px;
  color:$purple-2;
  text-shadow: 1px 1px 2px rgb(198, 121, 240), 0 0 1em rgb(48, 26, 67), 0 0 0.2em rgb(66, 31, 119);
  margin: 15px 15px;
}

.nav-item {
  margin: 0px 15px;
}

.dropdown-item, .dropdown-menu{
  background-color: $purple3;
  border-radius: 10px;
  color: $content_text_blue;
  transition: ease .3s;
  color: $white_5;
}

.dropdown-item:hover{
  background-color: $purple-1;
  color: $white_5;
}

.page-name h2{
  color: $purple-5;
  font-family: Luckiest Guy;
  margin-top: 20px;
  text-shadow: 1px 1px 2px rgb(48, 4, 71), 0 0 1em rgb(48, 26, 67), 0 0 0.2em rgb(66, 31, 119);
}

.page-show h2 {
  font-family: Luckiest Guy;
  color: $input-field;
  margin-top: 15px;
}
