.pagination {
  display: flex;
  height: 61px;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px 0px;
  position: relative;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: $purple-2;
}

.pagination .button {
  align-items: flex-start;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
  all: unset;
  box-sizing: border-box;
}

.pagination .button-base {
  align-items: center;
  justify-content: center;
  gap: 8px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
  all: unset;
  box-sizing: border-box;
}
.pagination .text {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--text-sm-medium-font-family);
  font-weight: var(--text-sm-medium-font-weight);
  color: var(--variable-collection-light-blue-grey);
  font-size: var(--text-sm-medium-font-size);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
  white-space: nowrap;
  font-style: var(--text-sm-medium-font-style);
}

.pagination .div {
  align-items: center;
  justify-content: center;
  gap: 8px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}
